#FB-Icon {
    width: 29px;
    height: 29px;
    left: 937px;
    top: 31px;
}

#IG-Icon {
    width: 29px;
    height: 29px;
    left: 972px;
    top: 30px;
}

#TW-Icon {
    width: 29px;
    height: 29px;
    left: 1008px;
    top: 30px;
}

#GH-Icon {
    width: 29px;
    height: 29px;
    left: 1048px;
    top: 30px;
}

#LI-Icon {
    width: 29px;
    height: 29px;
    left: 1083px;
    top: 31px;
}

#PB {
    width: 487px;
    height: 107px;
    left: 6px;
    top: 76px;
    display: inline-block;
}

#LS {
    width: 487px;
    height: 107px;
    left: 6px;
    top: 76px;
    display: inline-block;
}

#DM {
    width: 487px;
    height: 107px;
    left: 563px;
    top: 217px;
    display: inline-block;
}

.WT {
    width: 487px;
    height: 107px;
    left: 563px;
    top: 76px;
    display: inline-block;

}

.icon-header {
    position: absolute;
    width: 175px;
    height: 30px;
    left: 937px;
    top: 30px;
}

.container {
    border-bottom: 1px solid;
}

header > p {
    width: 642px;
    height: 35px;
    left: 6px;
    top: 235px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #373867;
}

#PB > img {
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    left: 6px;
    top: 76px;
}

#LS > img {
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    left: 6px;
    top: 217px;
}

#WT > img {
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    left: 563px;
    top: 76px;
}

#DM > img {
    width: 70px;
    height: 70px;
    left: 563px;
    top: 217px;
}

header > input {
    flex-direction: column;
    align-items: center;
    padding: 10px 24px;
    position: absolute;
    width: 143px;
    height: 34px;
    left: 6px;
    top: 350px;
    text-align: center;
    border: 1px solid #FF3E1D;
    border-radius: 5px;
    color: #FF3E1D;
}

header > img {
    position: absolute;
    width: 346px;
    height: 301px;
    left: 749px;
    top: 105px;
}

header > h1 {
    width: 219px;
    height: 16px;
    left: 74px;
    top: 44px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #373867;
    display: inline;
    border-bottom: #FF3E1D;
}

header > h2 {
    width: 636px;
    height: 94px;
    left: 6px;
    top: 39px;
    font-size: 40px;
    line-height: 47px;
    text-decoration: none;
    color: #373867;
}

header > h3 {
    width: 309px;
    height: 23px;
    left: 6px;
    top: 173px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;
    color: #373867;
}

header {
    width: 1125px;
    height: 416px;
    left: 0px;
    top: 75px;
    border-bottom: solid 1px;
}

body {
    width: 1512px;
    height: 982px;
    top: 12027px;
    left: 35980px;
}
